*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.gallery{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    background-color: gray;

}
.gallery-wrapper{
    display:  grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 10px;

}
.gallery-wrapper img{
    width: 100%;
}
